.wall-container{
    border: 10px red solid;
    width: 100%;
    min-height: 100vh; /* vh - viewport height */
    background-color: plum;
    padding : 20px; /* Represent inner space */


    /* flex display everything in a single row not in multiple rows */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}